body{
	background-color: #e0e0e0;	
}

.imagem-carrossel{
	height: 200px;
	object-fit: cover;
}

.imagem-card-solo{
	height: 200px;
	width: 200px;
	object-fit: cover;
}

.card-solo{
	width: 100%;
}

.social-link{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 768px) 
{
	.imagem-card-solo{
		height: 200px;
		width: 200px;
	}

	.imagem-carrossel{
		height: 500px;
	}
}