body{
	background-color: #e0e0e0;	
}

.imagem-carrossel{
	height: 500px;
	object-fit: cover;
}

.imagem-card-solo{
	height: 300px;
	width: 300px;
	object-fit: cover;
}

.card-solo{
	max-width: 100%;
}

.social-link{
	display: flex;
	flex-direction: column;
	align-items: center;
}