body{
	background-color: #e0e0e0;	
}

.logo-special-color{
	color: #009966!important;
	text-shadow: 1px 1px black;
}

.title-special-color{
	color: #009966;
	text-shadow: 1px 1px 2px black;
}

.special-color{
	color: #009966;
}

.special-border{
	border-color: #009966!important;
}

.special-bg{
	background-color: #009966;
}

.skill-border{
	border-left: 3px solid;
	border-color: #009966!important;
}

.imagem-carrossel-1{
	height: 200px;
	object-fit: cover;
}

.imagem-carrossel-2{
	height: 200px;
	object-fit: cover;
	object-position: top;
}

.imagem-carrossel-3{
	height: 200px;
	object-fit: cover;
	object-position: center;
}

.imagem-card-solo{
	height: 200px;
	width: 200px;
	object-fit: cover;
}

.card-solo{
	width: 100%;
}

.social-link{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 768px) 
{
	.imagem-card-solo{
		height: 200px;
		width: 200px;
	}

	.imagem-carrossel-1{
		height: 600px;
		object-fit: cover;
	}

	.imagem-carrossel-2{
		height: 600px;
		object-fit: cover;
	}

	.imagem-carrossel-3{
		height: 600px;
		object-fit: cover;
	}
}